* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  background-attachment: fixed;
  background-color: white;
  background-image: url("images/kiyomizudera-small.jpg");
  background-size: cover;
  height: 100vh;
}


@media only screen and (min-width: 400px) {
    body {
      background-image: url("images/kiyomizudera.jpg");
    }
  }


nav {
  background-color: #000;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.nav-links {
  display: inline-flex;
  list-style: none;
  justify-items: start;
  flex-flow: row wrap;
  padding: 1rem 0 1rem 2rem;
}

nav > * {
  align-items: center;
  justify-self: center;
}

.nav-links a {
  color: white;
  font-size: 15pt;
  margin: 0 1.5rem 0 0;
  text-decoration: none;
}

.search-container {
  display: inline-flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 1rem 1rem;
}

.search-container * {
  margin: 0 0 0 .1rem;
  padding: .2rem;
}

.search-container > label {
  color: white;
}

#search-input {
  width: 12rem;
}

/* For screen under 750px wide */
main {
  display: grid;
  max-width: 100vw;
  grid-template-rows: auto auto auto;
  grid-template-areas: "top" "left" "right";
  padding: 2vh 1vw 1vh 1vw;
  row-gap: 3vh;
}

/* For screen over 750px wide */
@media (min-width: 950px) {
  main {
    column-gap: 5vw;
    grid-template-areas:
      "top right"
      "left right";    
    grid-template-columns: 5fr 5fr;
    grid-template-rows: auto 2fr;
  }
}

main h1, h2, h3, h4, main img, form, p {
  margin: 1vh 1vw .5vh 1rem
}

h1 {
  font-size: max(5vw, 2rem);
}

h2 {
  font-size: 1.7rem;

}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: max(1.2rem);

}

.left p:first-of-type {
  font-size: 1.5rem;
  padding: 0 0 1rem 0
}

p > br {
  margin: 0 0 2vh 0;
}

button {
  border-radius: 2px;
  padding: .2rem
}

input {
  padding: .2rem
}

.top {
  grid-area: top;
}

.left {
  grid-area: left;
}

.right {
  border-radius: 5px;
  grid-area: right;
  height: auto;
  overflow: auto; 
}

.form-item {
  margin: .5rem 0 
}

.destination {
  margin: 0 0 2rem
}

.profile {
  margin: 0 0 2vh 0
}

.avatar {
  height: 10vh;
}

/* For screen over 750px wide */
@media (min-width: 750px) {
  .right {
    height: 80vh;
  }
}

.right:not(:empty) {
  background: #FFFFFFDD ;
}

/* Add styling when form input has focus and is invalid */
input:focus:invalid {
  border: 2px solid red;
}