* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


body {
    height: 100vh;
    background-image: url("images/kiyomizudera-small.jpg");
    background-size: cover;
    background-color: bisque;
}


@media only screen and (min-width: 400px) {
    body {
      height: 100vh;
      background-image: url("images/kiyomizudera.jpg");
      background-size: cover;
      background-color: bisque;
    }
  }


nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  flex-flow: row wrap;
}

nav * {
  padding: 5px;
  align-items: center;
}

.nav-links {
  display: inline-flex;
  list-style: none;
  justify-items: start;
  flex-flow: row wrap;
}

.nav-links a {
  margin-right: 0.5vw;
  color: white;
  font-size: 15pt;
  text-decoration: none;
}

.search-container {
  display: inline-flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.search-container > label {
  color: white;
}

.search-buttons > button {
  border-radius: 2px;
}

main {
  padding: 5px 0 0 4vw;
  margin: 5px;
}

h1 {
  font-size: 28pt;
  padding: 5vh 0 5vh 0;
}

h2 {
  padding: 5vh 0 5vh 0;
  font-size: 20pt;
}

h1 + p {
  font-size: 14pt;
  width: 60vw;
}

/* Add styling when form input has focus and is invalid */
input:focus:invalid {
  border: 2px solid red;
}